<section class="widget tagCloud">
    <div class="widget-icon"></div>
    <h2 class="widget-title section-title">{{ T "widget.tagCloud.title" }}</h2>
    <script src="https://www.goat1000.com/tagcanvas.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.onload = function() {
        try {
          TagCanvas.Start('canvas', 'tags', {
            textColour: null,
            outlineColour: '#fffaf0',
            reverse: true,
            depth: 0.8,
            maxSpeed: 0.05
          });
        } catch(e) {
          document.getElementById('canvas-container').style.display = 'none';
        }
      };
    </script>
    <div id="canvas-container">
        <canvas width="300" height="300" id="canvas">
          <p>Anything in here will be replaced on browsers that support the canvas element</p>
        </canvas>
      </div>
      <div id="tags">
        <ul>
            {{ range first .Site.Params.widgets.tagCloud.limit .Site.Taxonomies.tags.ByCount }}
            <li><a href="{{ .Page.RelPermalink }}" target="_blank">{{ .Page.Title }}</a></li>
            {{ end }}
        </ul>
      </div>
</section>