<script src='//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js'></script>
<div id="waline" class="waline-container"></div>
<style>
    .waline-container {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: var(--card-padding);
    }
    .waline-container .vcount {
        color: var(--card-text-color-main);
    }
</style>

{{ with .Site.Params.comments.waline }}
    <script>
        /// Waline client configuration see: https://waline.js.org/en/reference/client.html
        var waline = new Waline({
            el: '#waline',
            serverURL: '{{ .serverURL }}',
            lang: '{{ .lang }}',
            dark: 'auto',
            requiredMeta: ['nick','mail','url'],
        });

        waline.locale.placeholder = '{{ .locale.placeholder }}';
    </script>
{{ end }}
