<div id="cyReward" role="cylabs" data-use="reward">
    <div class="cy-reward">
        <a id="cy-reward-click" class="cy-reward-btn cy-reward-btn-red">赏</a>
    </div>
    <div id="cy-reward-pop" class="cy-reward-pop">
        <div node-type="cy-close-btn" class="cy-close-btn"></div> <img class="cy-avatar"
            src="{{ .Site.Params.avatar }}">
        <div class="cy-reward-title">感谢你的支持，我会继续努力！</div>
        <div node-type="cy-reward-code" class="cy-reward-code"> <img node-type="alipay-code" style="display: none;"
                src="https://cdn.jsdelivr.net/gh/qinyuanpei/blog.yuanpei.me@master//assets/images/alipay.jpg">
            <img node-type="weichat-code"
                src="https://cdn.jsdelivr.net/gh/qinyuanpei/blog.yuanpei.me@master//assets/images/wechat.png"
                style="display: inline;"> </div>
        <div class="cy-reward-txt">扫码打赏，建议金额1-10元</div>
        <div node-type="platform-choice" class="platform-choice clearfix">
            <div class="platform-item"> <span node-type="check-platform" data-id="alipay"
                    class="platform-radio-box"></span> <span class="platform-logo alipay"></span> </div>
            <div class="platform-item"> <span node-type="check-platform" data-id="weichat"
                    class="platform-radio-box platform-checked"></span> <span class="platform-logo weichat"></span>
            </div>
        </div>
        <p class="power-cy"> <a href="http://changyan.kuaizhan.com" style="text-decoration:none;color:#d1d1d1;"
                target="_blank">Copied By 畅言云评</a><br> 提醒：打赏金额将直接进入对方账号，无法退款，请您谨慎操作。 </p>
    </div>
</div>