{{ define "main" }}

<header>
    <div class="container">
        <h1>{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
    </div>
</header>

<section>
    {{ $doubanBooks := $.Site.Data.douban.books }}
    <div class="container">
        <div class="bmdb-list">
            <ul class="bmdb-ul">
                {{ range $doubanBooks.readed }}
                <li class="bmdb-li">
                    <a href="{{ .alt }}" class="bmdb-link" target="_blank">
                        <div class="bmdb-cover">
                            <img class="bmdb-cover-image" src="{{ .image }}" alt="{{ .title }}" width="126.45"
                                height="220" referrerPolicy="no-referrer">
                        </div>
                        <div class="bmdb-info">
                            <div class="bmdb-title">{{ .title }}</div>
                            <div class="bmdb-rank">
                                <span class="bmdb-rank-span bmdb-stars">
                                    <span class="bmdb-star bmdb-star-full"></span>
                                    <span class="bmdb-star bmdb-star-full"></span>
                                    <span class="bmdb-star bmdb-star-full"></span>
                                    <span class="bmdb-star bmdb-star-full"></span>
                                    <span class="bmdb-star bmdb-star-gray"></span>
                                </span>
                                <span class="bmdb-rank-span">{{ .recommend }}</span>
                            </div>
                        </div>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>

{{ end }}