{{ define "main" }}

<div class="container">
    <section class="my">
        <div class="avatar">
            <img src="{{ .Site.Params.avatar }}"/>
        </div>
        <div class="content">
            {{ with .Content }}
            {{ . }}
            {{ end }}
            {{ .Site.Params.siteDesc }}
            <div class="bio-social">
                {{ range $name, $path := $.Param "socialOptions" }}
                {{ if (and $path (ne $name "email")) }}
                <a href="{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $name }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                </a>
                {{ end }}
                {{ if (and $path (eq $name "email")) }}
                <a href="mailto:{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $path }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
</div>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $pages = .Paginate ($pages)  }}
{{ $archivesPage := first 1 (where .Site.RegularPages "Layout" "eq" "archives") }}

{{ $works := .Site.Data.portfolio.items }}
{{ $worksPage := first 1 (where .Site.RegularPages "Layout" "eq" "works")}}

{{ $columns := .Site.Data.series }}

<div class="container">
    {{ partial "series/index.html" $columns }}
    <section>
        <h2>
            最新文章
            {{ range $archivesPage }}
            <a class="section-button" href="{{ .RelPermalink }}">更多</a>
            {{ end }}
        </h2>
        <div class="posts">
            {{ range first 5 $pages.Pages }}
            <div class="post">
                <a href="{{ .RelPermalink }}">
                    <div class="post-row">
                        <time>{{ .Date.Format "Jan 02" }}</time>
                        <h3>{{ .Title }}</h3>
                    </div>
                    {{ $thresholdDate := now.AddDate 0 0 -15 }}
                    {{ if ge .Date $thresholdDate }}
                        <div class="new-post">New!</div>
                    {{ end }}
                </a>
            </div>
            {{ end }}
        </div>
    </section>
    {{ if gt (len $works) 0}}
    <section>
        <h2>
        最近项目
        {{ range $worksPage }}
            <a class="section-button" href="{{ .RelPermalink }}">更多</a>
        {{ end }}
        </h2>
        <div class="projects">
            {{ range first 3 (sort $works "date" "desc") }}
            <div class="project">
                <div>
                    <a href="{{ .link }}" target="_blank" rel="noreferrer">
                        <div class="icon">{{ .icon }}</div>
                        <h3>{{ .title }}</h3>
                    </a>
                    <div class="description">{{ substr .description  0 50 }}...</div>
                </div>
                <div class="flex">
                    <a href="{{ .link }}" class="button" target="_blank" rel="noreferrer">查看</a>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
</div>

{{ end }}