{{ define "main" }}

{{ $pages := .Pages }}
{{ $pages = (.Paginate $pages).Pages }}

<header>
    <div class="container">
    {{ if eq .Title "Categories"}}
        <h1>分类</h1>
    {{ else if eq .Title "Tags" }}
        <h1>标签</h1>
    {{ end }}
    </div>
</header>

<section>
    <div class="container">
        <div class="terms">
            {{ range (index .Site.Taxonomies (.Title | lower)) }}
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <span class="bg-number">{{ .Count }}</span></a>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}
