<div class="works-container" style="background-color: #fafafa">
    <div class="container">
        <section class="row">
            <div class="col-sm-10 col-sm-offset-1&#10;col-md-8 col-md-offset-2&#10;works-area">
                {{ $works := .Site.Data }}
                {{ printf "%#v" .Site.Data.portfolio }}
                {{ range $works }}
                {{ template "partials/works/work.html" . }}
                {{ end}}
            </div>
        </section>
    </div>
</div>