<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
        <a href="{{ .RelPermalink }}" {{ with .Params.style
            }}style="background-color: {{ .background }}; color: {{ .color }};" {{ end }}>
            {{ .LinkTitle }}
        </a>
        {{ end }}
    </header>
    {{ end }}

    <h2 class="article-title">
        <a href="{{ .RelPermalink }}">
            {{- .Title -}}
        </a>
    </h2>

    {{ with .Summary }}
    <h3 class="article-subtitle">
        {{ . | plainify }}
    </h3>
    {{ end }}

    {{ if or (not .Date.IsZero) (.Site.Params.article.readingTime) }}
    <footer class="article-time">
        {{ if not .Date.IsZero }}
        <div>
            {{ partial "helper/icon" "date" }}
            <time class="article-time--published">
                {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
            </time>
        </div>
        {{ end }}

        {{ if .Site.Params.article.readingTime }}
        <div>
            {{ partial "helper/icon" "clock" }}
            <time class="article-time--reading">
                {{ T "article.readingTime" .ReadingTime }}
            </time>
        </div>
        {{ end }}
    </footer>
    {{ end }}
</div>
{{- $publicCDN := .Page.Site.Params.publicCDN -}}
{{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
{{- $loadingImage := print ("/imgs/loading.gif" | relURL) -}}
{{ if $image.exists }}
<div class="article-image">
    <a href="{{ .RelPermalink }}">
        {{ if $image.resource }}
        {{- $Permalink := $image.resource.RelPermalink -}}
        {{- $Width := $image.resource.Width -}}
        {{- $Height := $image.resource.Height -}}
        {{- $Srcset := "" -}}

        {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
        {{- $thumbnail := $image.resource.Resize "800x" -}}
        {{- $thumbnailRetina := $image.resource.Resize "1600x" -}}
        {{- $Srcset = printf "%s 800w, %s 1600w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
        {{- $Permalink = $thumbnail.RelPermalink -}}
        {{- $Width = $thumbnail.Width -}}
        {{- $Height = $thumbnail.Height -}}
        {{- end -}}


        <img src="{{ $Permalink }}" {{ with $Srcset }}srcset="{{ . }}" {{ end }} width="{{ $Width }}"
            height="{{ $Height }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
        {{ else }}
        {{- $isInternal := eq (slicestr $image.permalink 0 1) "/" -}}
        {{- $enableCDN := .Site.Params.jsdelivr.enable }}
        {{- $cdnURL := cond (and $isInternal $enableCDN) (print $publicCDN $image.permalink | safeURL) ($image.permalink | safeURL) -}}
        <img src="{{ $loadingImage }}"  data-src="{{ $cdnURL | safeURL }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
        {{ end }}
    </a>
</div>
{{ end }}