<div class="links-content">
    {{ range $i, $link := .Params.links }}
    <div class="links-item">
        <a href="{{ $link.website }}" target="_blank" rel="noopener">
            <div class="links-item-left">
                {{ with $link.image }}
                <div class="links-item-avatar">
                    <img src="{{ . }}" loading="lazy" />
                </div>
                {{ end }}
            </div>
            <div class="links-item-right">
                <div class="links-item-title">
                    {{- $link.title -}}
                </div>
                <div class="links-item-bio">
                    {{ with $link.description }}
                    {{ . }}
                    {{ else }}
                    {{ $link.website }}
                    {{ end }}
                </div>
            </div>
        </a>
    </div>
    {{ end }}
    <div class="links-item-clearfix"></div>
</div>