.friend-links-container {
    display: grid;
    grid-gap: 0 1.5em;
    grid-template-columns: 1fr 1fr;
}

.friend-link {
    padding: 1em 0;
    border-bottom: 1px dashed var(--color-contrast-low);
    display: flex;
    transition: all .5s;
    text-decoration: none !important;
    overflow: hidden;
}

.friend-link .friend {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.friend-link .name {
    font-weight: bold;
    margin: 0.375em 0;
}

.friend-link .excerpt {
    font-size: 0.875em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.friend-link .avatar {
    width: 4em !important;
    height: 4em !important;
    margin: 0 1em 0 0 !important;
    z-index: 0;
}