.tocify {
    width: 20%;
    max-height: 90%;
    overflow: auto;
    position: absolute;
    right: 2%;
    border-radius: 6px;
}

@media screen and (max-width: 800px) {
    .tocify {
        display: none;
    }
}
